:root {
    --main-padding: 0 10vw;
    --color-acento: #FC814A;
    --color-acento-hover: #CD533B;
    --color-acento-hover: #AC3931;




}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1,
h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    color: #5B7CFD;
}

h5 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
}

span {
    color: #5B7CFD;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

section {
    height: 100vh;
    background: linear-gradient(40deg, #5B7CFD 0%, #6236FF 100%);
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
}



.button {
    background-color: white;
    border: 1px solid white;
    white-space: nowrap;
    color: #5B7CFD;
    font-size: 1rem;
    font-weight: 500;
    padding: 1.25rem 3.5rem;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    width: 14rem;
    margin-top: 2rem;
    cursor: pointer;

    transition: background-color 0.3s ease;
    z-index: 3;
}

.button:hover {
    background-color: #eee;
}

button.select {
    background-color: transparent;
    border: 1px solid #DEDEDE;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    padding: .75rem 1.75rem;
    width: auto;
    transition: background-color 0.3s ease;

}

button.select:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

button.select.active {
    background-color: #5B7CFD;
    border: 1px solid #5B7CFD;
    color: white;
    cursor: auto;
}

button.select.active:hover {
    background-color: #6236FF;
}


.button.transparent {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.button.transparent:hover {
    background-color: rgba(91, 124, 253, 0.5);
}

#hero {
    height: 120vh;
    padding: var(--main-padding);
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#fondo1 {
    position: absolute;
    left: 0;
    top: 0;
}

#fondo2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

#hero>img {
    max-width: 100%;
}

#hero #world {
    width: 70%;
    max-width: 330px;
    margin-top: 1rem;

    /* position: absolute;
    bottom: -2rem;
    /* left: 0rem; */
    /* transform: translate(0, 50%); */
    z-index: 1;
}

#hero p {
    font-size: 1.25rem;
    line-height: 2rem;
    width: 90%;
}

#hero .contenido {
    z-index: 1;
    margin-top: 5vw;
}

#hero form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 2rem;
}

#hero form #email,
#hero form #phone,
#hero form #submit {
    width: 100%;
    max-width: 32.5rem;
    border: none;
    padding: 1rem;
    line-height: 1.5rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
    font-size: .875rem;
    color: #555;
    outline: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;

    font-family: monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#hero form #submit {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    background-color: var(--color-acento);
    border-color: var(--color-acento);
    color: white;
    font-weight: 700;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#hero form #submit:hover {
    background-color: var(--color-acento-hover);
    border-color: var(--color-acento-hover);
}

#naranja {
    background-color: var(--color-acento);
    color: white;
    padding: 0 1rem;
    white-space: nowrap;

}

#hero2 {
    height: 30vh;
    background: linear-gradient(-12deg, #6236FF 0%, #5B7CFD 100%);
}


section {
    height: 100vh;
    background: linear-gradient(40deg, #5B7CFD 0%, #6236FF 100%);
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--main-padding);
}

section.white {
    background: white;
    color: #333;
}

section.white2 {
    background: #F5F6F8;
    color: #333;
    height: 200vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}


section.white p {
    color: #666;
}

section.white .button {
    background-color: transparent;
    color: #5B7CFD;
    border: 1px solid #5B7CFD;
}

section.white .button:hover {
    background-color: #eee;
}

.columna {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}

.col1 {
    flex-basis: 60%;
}

.col2 {
    flex-basis: 40%;
}


#services .col1 h2,
#services .col1 p {
    width: 80%;
}

#services .col2 {
    gap: 8vw;
}

.service-card {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#services .col2>.button {
    display: none;
}


#services .service-card .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#services .service-card .content.why {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

#folders {
    position: absolute;
    max-width: 40%;
    left: 0;
    bottom: 0;
}

#img-phone {
    width: 70%;
    margin: auto;
    padding-top: 5rem;
}



#cta {
    height: 33vw;
    background: url(./assets/img/oval.png);
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#cta h2 {
    width: 80%;
    text-align: center;
}

.email-wrapper {
    position: relative;
    width: 100%;
}

#email {
    width: 100%;
    padding: 1rem 10rem 1rem 1rem;
    /* Reservamos espacio a la derecha para el botón */
    border: 1px solid #ccc;
    border-radius: .25rem;
    font-size: 1rem;
    color: #555;
}

#email:focus {
    outline: none;
}

.cta-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background-color: #5B7CFD;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: .75rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.cta-btn:hover {
    background-color: #6236FF;
}


#testimonials {
    height: auto;
    flex-direction: column;
    padding: 10vh 5vw;
    align-items: start;
}

#testimonials h2 {
    padding-left: 5vw;
}

#testimonials>img {
    padding-left: 3vw;
}

.testimonial-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    position: relative;
    padding: 2rem;
}

.testimonial-cards>img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.testimonial-card {
    max-width: 30%;
    border-radius: 0.5rem;
    border: 1px solid #DEDEDE;
    background: #FFF;
    padding: 2.5rem;
    z-index: 1;
}

.testimonial-card p {
    color: #666;
    line-height: 1.5rem;
}

.testimonial-person {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}

.testimonial-photo img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #D8D8D8;
    border-radius: 50%;
}


.testimonial-name-work>h5 {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}


.testimonial-name-work>p {
    font-size: 0.875rem;
}




#process {
    height: auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#process h2 {
    font-size: 2.5rem;
    padding-top: 3rem;
}


.process-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
}

.process-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25%;
    height: max-content;
    text-align: center;
    gap: 1rem;
}

.process-card>p {
    margin-top: .5rem;
}

.oval-top-left,
.oval-bottom-right {
    position: absolute;
    width: 40vw;
    height: 40vw;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 50%;
}

.oval-top-left {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.oval-bottom-right {
    bottom: 0;
    right: 0;
    transform: translate(60%, 50%);
}

.process-container-button {
    margin-bottom: 3rem;
}



#form {
    height: auto;
    padding-bottom: 10rem;
}

#form .img {
    padding: 5vw;
    display: flex;
    align-items: start;
}

#form .img img {
    width: 90%;
}

#form p {
    color: #666;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form input,
.form textarea {
    border: none;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
    font-size: 1rem;
    color: #555;
    outline: none;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

form textarea {
    height: 20vh;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
    background-color: #5B7CFD;
    border: 1px solid #5B7CFD;
    white-space: nowrap;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 1.25rem 3.5rem;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    width: 12rem;
    margin-top: 1rem;

    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #6236FF;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;  /* Añadir la transición para el padding */
    text-align: left;
}

.accordion:after {
    content: '\02795';    
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\02796";    
}

#contact {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    position: relative;
}

.contact-containers {
    background: rgba(91, 124, 253, 0.78);
    width: 90%;
    height: 80%;
    position: absolute;
    top: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.contact-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-container svg {
    border-radius: 0.5rem;
    background: linear-gradient(180deg, #00C4FF 0%, #0091FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 40px;
    height: 40px;
}

.contact-container p {
    color: white !important;
}



@media screen and (max-width: 815px) {
    #hero {
        padding: 3rem 1rem;
        height: auto;
    }

    #hero p {
        font-size: 1rem;
    }

    header,
    main,
    footer,
    section {
        max-width: 100vw;
    }

    h1,
    h2 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    section {
        height: auto;
        padding: 4rem 1rem;
        flex-direction: column;
        text-align: center;
    }

    #services .columna {
        padding: 1rem 1rem;
        align-items: center;
    }

    #services .columna>h2,
    #services .columna>p,
    #services .columna>.button {
        width: 100%;
    }


    #services .col1>.button {
        display: none;
    }

    #services .col2>.button {
        display: block;
        padding: 1.5rem;
    }

    #services .service-card {
        flex-direction: column;
    }


    #transform {
        height: auto;
        text-align: left;
    }

    #transform #folders {
        position: relative;
        max-width: 70%;
    }

    #transform .button {
        width: 100%;
        padding: 1.5rem;
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }


    #cta {
        min-height: 70vh;
        gap: 3rem;
    }

    #cta h2 {
        font-size: 2.5rem;
        padding: 0;
    }

    #testimonials {
        padding: 10vh 5vw;
        align-items: center;
        justify-content: center;
    }

    #testimonials h2 {
        font-size: 2.5rem;
        padding: 0;
    }

    #testimonials>img {
        display: none;
    }

    .testimonial-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
    }

    .testimonial-card {
        max-width: 90%;
        padding: 1.5rem;
    }


    #process {
        height: auto;
    }

    .process-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }

    .process-card {
        max-width: 90%;
    }


}